<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1>Utility Map ➡️ about</h1>

    <h2>Project Overview</h2>
    <p>This is the about page outlining the project. It aims to be concise with information
        pertaining the project and strives to maintain a clean and simple interface. The
        project is still in its early stages and is still a work in progress. Any effort to
        collect and centralize information should not always employ big investment with 
        minimal effort at our end to be commited to the technicalities of the endeavour. 
    </p>

    <h2>How is Utility Map made?</h2>
    <p>The application utilizes the cacophony of the following tools and services:
        <ul>
            <li><a href="https://www.postgresql.org/"></a>PostgreSQL/PostGIS: Data storage and management</li>
            <li><a href="https://www.python.org/">Python</a>: Geospatial libraries for data manipulation and visualization</li>
            <li><a href="https://leafletjs.com/">Leaflet.js</a>: Interactive map rendering</li>
            <li><a href="https://geodjango.org/">GeoDjango</a>: Web Framework</li>
        </ul>

    <h2>Get in touch</h2>
    <p>If you have any questions about the project, please feel free to <a href="mailto:azaleakamellia.a@gmail.com">contact us</a>.</p>
</body>
</html>